

<nav id="menu-p">

    <ul >
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Entrar</a></li>

    
        

    </ul>


</nav>

<div id="divbusca">
    <input type="text" id="txtbusca" placeholder="Buscar...">
    <button id="btnbusca">Buscar</button>

</div>



<div id="opcao">

   <ul>

    <li><a href="#">Promoção</a></li>
    <li><a href="#">Masculino</a></li>
    <li><a href="#">Feminino</a></li>
    <li><a href="#">Infantil</a></li>
    <li><a href="#">Tendência</a></li>
    <li><a href="#">Acessórios</a></li>

   </ul>
    
</div>

